html, body {
  height: 100%;
}
/* For 1366px */
@media (width: 1366px) {
  html, body {
    overflow: hidden;
  }
}
/* For 1440px */
@media (width: 1440px) {
  html, body {
    overflow: hidden;
  }
}
/* For 1536px */
@media (width: 1536px) {
  html, body {
    overflow: hidden;
  }
}
/* For 1680px */
@media (width: 1680px) {
  html, body {
    overflow: hidden;
  }
}
/* For 1920px */
@media (width: 1920px) {
  html, body {
    overflow: hidden;
  }
}
/* For 2560px */
@media (width: 2560px) {
  html, body {
    overflow: hidden;
  }
}
/* For 2880px */
@media (width: 2880px) {
  html, body {
    overflow: hidden;
  }
}
[data-scroll-container] {
  min-height: 100vh;
}